html{
  height: 100%;
  background: #F3F5FC;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
}

header{
  width: 100%;
}

img{
  padding-left: 10px;
}

#menu, #juego, #agregarPalabra{
  display: flex;
  width: auto;
  height: 500px;
}

#btnInicio{
  display: flex;
  align-items: center;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  background: #0A3871;
  border-radius: 24px;
  width: 317px;
  height: 114px;
  left: 561px;
  top: 402px;
  color: #FFF;
  justify-content: center;
}

#btnNueva{
  display: flex;
  align-items: center;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  background: #F3F5FC;
  border-radius: 24px;
  width: 317px;
  height: 114px;
  left: 561px;
  top: 402px;
  color: #0A3871;
  justify-content: center;
}
#juego , #agregarPalabra{
  display: none;
}
footer {
  color: black;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: flex-end;
  padding-top: 20px;
  box-shadow: 2px -1px 5px #999;
}
.redes_sociales {
  list-style: none;
  display: inline-flex;
}
.footer_icon{
  width: 40px;
}

.invisible{
	display: none;
}
